/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;

}

h1 {
  font-style: italic;
  color: #373fff;
}
p {
  text-align: center;
  color: white;
  border-radius: 25px;
  background: #616161;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
